/* Navbar container */
.navbar {
    width: 100%;
    height: 100px;
    background-color:rgb(252, 248, 248);
    box-shadow: 0 4px 6px -1px rgba(138, 135, 135, 0.1), 0 2px 4px -1px rgba(138, 135, 135, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }
  
  /* Logo styling */
  .logo {
    height: 90px; /* Adjust size as needed */
    width: auto;  /* Maintain aspect ratio */
  }  
  

  .nav-link {
    text-decoration: none;
    color: #ccafa3;
    font-size: 18px;
    font-weight: 180;
    position: relative;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Underline Animation */
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ccafa3; 
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
    gap: 40px;
  }
  
  /* Ensure the body has no default margin */
  body {
    margin: 0;
    padding: 0;
  }

  .logout-button {
    background-color: #dcbfb2;
    color: #4b5563;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    border: none; /* Removes any default border */
    outline: none; /* Removes outline on focus */
    width: 100px;
    margin-left: 15px;
  }
  
  .logout-button:hover {
    background-color: #bba297;; /* hover:bg-purple-700 */
  }