@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(252, 248, 248);
    box-shadow: 0 4px 6px -1px rgba(138, 135, 135, 0.1), 0 2px 4px -1px rgba(138, 135, 135, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-sizing: border-box;
}


.logo {
    height: 90px;
    width: auto;
}

.nav-link {
    text-decoration: none;
    color: #ccafa3;
    font-size: 18px;
    font-weight: 180;
    position: relative;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}


.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ccafa3;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    gap: 40px;
}


body {
    margin: 0;
    padding: 0;
}

.logout-button {
    background-color: #dcbfb2;
    color: #4b5563;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    width: 100px;
}

.logout-button:hover {
    margin-left: 15px;
    background-color: #bba297;
    ;
}


@media (max-width: 768px) {
    .navbar {
        padding: 15px 40px;
        height: auto;
        flex-direction: column;
    }

    .logo {
        height: 70px;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 20px;
    }

    .logo {
        height: 60px;
    }

    .nav-link {
        font-size: 14px;
    }

    .logout-button {
        width: 80px;
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px 40px;
        height: auto;
        flex-direction: column;
    }

    .logo {
        height: 70px;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 10px;
    }

    .logo {
        height: 60px;
    }

    .nav-link {
        font-size: 14px;
    }

    .logout-button {
        width: 80px;
        padding: 0.4rem 0.8rem;
    }
}