.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .add-item-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-item-button:hover {
    background: #218838;
  }
  
  .cancel-button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background: #c82333;
  }
  
  .delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  
  .delete-modal button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ccafa3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  
  .delete-modal button:hover {
    background-color: #bba297;
  }
  