/* Main container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  display: flex;
  max-width: 600px;
  max-height: 600px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  color: #646363;
}

.login-left {
  background-image: linear-gradient(to bottom, rgb(234, 217, 190), rgb(248, 225, 225));
  color: #646363;
  padding: 20px;
  text-align: center;
  flex: 1;
  align-items: center;
}

.login-left h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.login-left p {
  font-size: 1rem;
  color: #646363;
}

.login-right {
  padding: 20px;
  flex: 2;
}

.input-container {
  margin-bottom: 15px;
}

input {
  width: 100%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #646363;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #dcbfb2;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.login-button {
  background: #dcbfb2;
  color: white;
  font-size: 1rem;
}

.login-button:hover {
  background: #bba297;
}

.guest-button {
  background: #dcbfb2;
  color: white;
  margin-top: 10px;
}

.guest-button:hover {
  background: #bba297;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #dcbfb2;
  text-decoration: none;
}

.signup-link a:hover {
 text-decoration: underline;
}

.signup-button {
  background: #dcbfb2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.signup-button:hover {
  background: #bba297;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Popup Card */
.popup-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Popup Title */
.popup-card h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Closet Selection Buttons */
.closet-selection button {
  background: #dcbfb2;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.closet-selection button:hover {
  background: #bba297;
}

.closet-selection button.clicked {
  background: #bba297;
}

.conf-cancel button {
  background: #ffffff;
  color: #dcbfb2;
  border: 1px solid #dcbfb2;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}