.favorite-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    width: 240px;
    margin: 20px;
    transition: 0.4s ease-out;
    position: relative;
  }
  
  .favorite-item-card:hover {
    transform: translateY(-20px);
  }
  
  .outfit-name {
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    background-color: #17141d;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
  }
  
  .item-card:hover {
    transform: translateY(-10px);
  }
  
  .item-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .item-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  .item-name,
  .item-occasion,
  .item-temperature {
    color: white;
    font-size: 0.9rem;
    margin: 5px 0;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-card:hover .item-name,
  .item-card:hover .item-occasion,
  .item-card:hover .item-temperature {
    color: #ff9a9e;
  }
  