@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
}

.main-content {
    text-align: center;
    margin-top: 3rem; 
    width: 100%; 
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-heading {
    font-size: 2rem;
    font-weight: 800;
    color: #646363;
    font-family: "Dancing Script", cursive;
    margin-bottom: 10px;
}


.main-description {
    color: #4b5563;
    margin-top: 0.5rem;
}


.generator-card {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 90%;
    max-width: 500px;
}


.generator-title, .generator-subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: #ccafa3;
    text-align: center;
}


.input-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.occasion-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    color: #4b5563;
    width: 100%;
}


.generate-button {
    background-color: #dcbfb2;
    color: #4b5563;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    width: 40%;
    min-width: 100px;
    height: 40px;
}

.generate-button:hover {
    background-color: #bba297;
}


.weather-card {
    margin-top: 1.5rem;
    background-image: linear-gradient(to bottom, rgb(234, 217, 190), rgb(248, 225, 225));
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(122, 121, 121);
    width: 96%;
    margin-right:50px;
}



@media (max-width: 768px) {
    .weather-card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .occasion-input {
        width: 90%;
        text-align: center;
    }

    .generate-button {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .weather-card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .occasion-input {
        width: 90%;
        text-align: center;
    }

    .generate-button {
        width: 100%;
    }
}
